<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs")%>

  <body>
    <%- include("./includes/navbar.ejs")%>

    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
      "
    >
      <form class="w-50" onsubmit="handleSubmit(event)">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
        <button type="submit" class="btn btn-warning">Sign Up</button>
      </form>
    </div>

    <script>
      function handleSubmit(e) {
        e.preventDefault();

        const data = new FormData(e.target);
        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 201) {
            window.location = "/";
          }
        };
        xhttp.open("POST", "/user/newUser");
        xhttp.send(data);
      }
    </script>
  </body>
</html>
